doctype html
html(lang="zh-cn")
	head
		title 融合结果
		meta(charset="utf-8")
		//script(src='./js/d3.min.js')
		//script(src='./js/jquery-1.12.4.min.js')
		//link(rel='stylesheet' type='text/css' href='./css/style.css')
		//link(rel='stylesheet' type='text/css' href='./css/font-awesome.min.css')
	body
		="That's worked!"