doctype html
html(lang="zh-cn")
	head
		title 融合结果
		meta(charset="utf-8")
		link(rel='stylesheet' type='text/css' href='/css/style.css')
		script(src='/js/d3.min.js')
		script(src='/js/jquery-1.12.4.min.js')
		script(src='/js/jquery.easing.min.js')
		script(src='/js/merged.js')
		link(rel='stylesheet' type='text/css' href='/css/font-awesome.min.css')
		style
			include ../public/css/patch.css
	body(style='opacity: 0')
		#sidebar
			#tab
				a.logo(href='#') 超能陆战队
			#tab
				a(href='/firewall') Firewall
			#tab
				a(href='/balance') Load Balance
			#tab
				a(href='/billing') Billing
			#tab.highlight
				a(href='/merged') Merge Results
			#tab
				a(href='/show') Experiments
			button#terminal
				i.fa.fa-wrench(aria-hidden=true)
				="Terminal"

		#container
			header
				span=title
			
			#graphs
				.width50
					svg.topo
				.width50
					if num == 1 
						img(src="/img/merge1.png" style="height: 400px")
					else 
						img(src="/img/merge2.png" style="height: 400px")

			#logic
				.width50
					img(src="/img/labels.png" style="height: 450px")
				.width50
					svg.graph